doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    link(rel="icon" href="/public/favicon.ico")
    script(src='https://cdn.plot.ly/plotly-2.32.0.min.js')
  body
    header
        nav
            a(href="/") Главная
            a(href="/api/upload") Выгрузка
            a(href="/api/view") Просмотр
            a(href="/api/process") Обработка
            a(href="/api/export") Экспорт
    block content
